<div id="page-content">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic border-bottom-1">
            erstellt von <%= '#' %>
           
          </div>
          <div class="card-body ">
            <h4 class="card-title text-center"><%= @patient.first_name + " " + @patient.last_name%></h4>
            <div class="row">
              <div class="col">
                <p>Station: <%= @patient.station%></p>
                <p>Zimmer: <%= @patient.room_nr %></p>
              </div>
              <div class="col">
                <p>Speisesaal: <%= @patient.dining_room%></p>
                <p>Tisch-Platz-Nummer: <%= @patient.table_number%></p>
              </div>
            </div>
            <div class="container mb-3">
              <% if BreakfastCard.where(:patient_id => @patient.id).first %>
                <%= link_to "Frühstückskarte", breakfast_card_path(BreakfastCard.where(:patient_id => @patient.id).first), class:"btn btn-success btn-sm" %>
              <% else %>
                <%= link_to "Frühstückskarte erstellen!", new_breakfast_card_path(:patient_id => @patient.id), class:"btn btn-danger btn-sm" %>
              <% end %>
              <% if LunchCard.where(:patient_id => @patient.id).first %>
                <%= link_to "Mittagskarte", lunch_card_path(LunchCard.where(:patient_id => @patient.id).first), class:"btn btn-success btn-sm" %>
                <%= link_to "Abendkarte", '#', class:"btn btn-secondary btn-sm" %>
              <%else %>
                <%= link_to "Mittagskarte erstellen!", new_lunch_card_path(:patient_id => @patient.id), class:"btn btn-danger btn-sm"  %>
              <% end %>
              <% if Diet.where(:patient_id => @patient.id).first %>
                <%= link_to "Diätsform", diet_path(Diet.where(:patient_id => @patient.id).first), class:"btn btn-success btn-sm" %>
              <% else %>
                <%= link_to "Diätsform eintragen!", new_diet_path(:patient_id => @patient.id), class:"btn btn-danger btn-sm"  %>
              <% end %>
            </div>

            
           
            <%= link_to "Bearbeiten", edit_patient_path(@patient), class: "btn bg-bdh text-white " %>
            <%= link_to "Löschen", patient_path(@patient), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
            
          </div>
          <div class="card-footer text-muted">
            <small>erstellt am <%= @patient.created_at %>, 
            zuletzt bearbeitet am <%= @patient.updated_at %></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 