<div class="container mt-1 mb-3 text-center">
  <h1>Alle Vollkost Mittagskarten</h1>
  <div class="container">
    <% @lunch_cards.each do |lunch_card| %>
      <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
          <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
              <div class="row">
                <div class="col">
                  <p>Station: <%= lunch_card.patient.station%></p>
                  <p>Zimmer: <%= lunch_card.patient.room_nr %></p>
                </div>
                <div class="col">
                  für <%= link_to lunch_card.patient.first_name + " " + lunch_card.patient.last_name , '#' %>
                </div>
                <div class="col">
                  <p>Speisesaal: <%= lunch_card.patient.dining_room%></p>
                  <p>Tisch-Platz-Nummer: <%= lunch_card.patient.table_number%></p>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title text-black font-weight-bold">Vollkost, Mittag</h5>
              
              <%= lunch_card.portion%>
              
              <%= "Tagessuppe, " if lunch_card.day_soup == true%>
              <%= "Dessert, " if lunch_card.dessert == true%>
              <p class="card-text font-weight-bold"><%= "Passierte Kost" if lunch_card.pureed_food == true%></p>
              <p class="card-text font-weight-bold"><%= "Passiertes Fleisch" if lunch_card.pureed_meat == true%></p>
              <p class="card-text"><%= "Geschnittenes Fleisch" if lunch_card.cut_meat == true%></p>
              <p class="card-text"><%= "Kein Schweinefleisch" if lunch_card.no_pork == true%></p>
              <p class="card-text"><%= "Vegetarisch" if lunch_card.vegetarian == true%></p>
              <p class="card-text"><%= "Kein Fisch" if lunch_card.no_fish == true%></p>
  
              <p class="card-text">Bemerkungen: <%= truncate(lunch_card.comments, length: 100) %></p>
  
              <%= link_to "Ansehen", lunch_card_path(lunch_card), class: "btn btn-outline-success" %>
              <%= link_to "Bearbeiten",edit_lunch_card_path(lunch_card), class: "btn btn-outline-info" %>
              <%= link_to "Löschen", lunch_card_path(lunch_card), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"}  %>
  
              
            </div>
            <div class="card-footer text-muted">
              <small>Erstellt am <%= lunch_card.created_at %>, 
              zuletzt bearbeitet am <%= lunch_card.updated_at %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div> 
</div>
