<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          <div class="row">
            <div class="col">
              <p>Station: <%= @lunch_card.patient.station%></p>
              <p>Zimmer: <%= @lunch_card.patient.room_nr %></p>
            </div>
            <div class="col">
              für <%= link_to @lunch_card.patient.first_name + " " + @lunch_card.patient.last_name , patient_path(@lunch_card.patient.id) %>
            </div>
            <div class="col">
              <p>Speisesaal: <%= @lunch_card.patient.dining_room%></p>
              <p>Tisch-Platz-Nummer: <%= @lunch_card.patient.table_number%></p>
            </div>
          </div>

          
          
        </div>
        <div class="card-body">
          <h5 class="card-title text-black font-weight-bold">Vollkost, Mittag</h5>
          
          <p class="card-text"><%= @lunch_card.portion%></p>
          <p class="card-text"><%= "Tagessuppe" if @lunch_card.day_soup == true%></p>
          <p class="card-text"><%= "Dessert" if @lunch_card.dessert == true%></p>

          <div class="row mb-2 mt-2">
            <div class="col">
              <% if @lunch_card.comments == "" %>
                Es wurden keine Bemerkungen eingetragen!
              <% else %>
                Bemerkungen: <%= truncate(@lunch_card.comments, length: 100) %>
              <% end %>
            </div>
          </div>

          <%= link_to "Bearbeiten",edit_lunch_card_path(@lunch_card, :patient_id => @lunch_card.patient_id), class: "btn bg-bdh text-white " %>
          <%= link_to "Löschen", lunch_card_path(@lunch_card), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>

          
        </div>
        <div class="card-footer text-muted">
          <small>Essenskarte erstellt am: <%= @lunch_card.created_at %>, 
          zuletzt aktualisiert am: <%= @lunch_card.updated_at%></small>
        </div>
      </div>
    </div>
  </div>
</div> 